<div class="container">
    <section class="mx-auto my-5" style="max-width: 50rem;">
  
      <div class="card">
      
        <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
            alt="Card image cap" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
            
          <div class="d-flex justify-content-between">
            <h5 class="card-title font-weight-bold mb-2">New spicy meals</h5>
            <p class="card-text"><i class="far fa-clock pe-2"></i>07/24/2018</p>
            <div>
              
              <i class="fas fa-heart text-muted p-md-1 my-1 me-0" data-mdb-toggle="tooltip" data-mdb-placement="top"
                title="I like it"></i>
            </div>
            
          </div>
          <div class="fw-bolder fs-4">over view</div>
          <div>
            {{movie?.overview}}
        </div>
        </div>
      </div>
      
    </section>
  </div>
  