<div class="row">
    <nav class="navbar navbar-expand-lg border-bottom border-5 border-info "style="background-color: #ffffff;" >
    <div class="container-fluid">
        <img src="/assets/Screenshot 2023-02-17 091049.png" alt="" style="height: 70px;">
      <a class="navbar-brand fw-bolder " routerLink="" style="color:#757c83;">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active  fw-bolder " aria-current="page"  routerLink="" style="color:#757c83;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  fw-bolder " aria-current="page"  routerLink="Favorites" style="color:#757c83;">Favorite</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bolder" aria-current="page"  routerLink="test" style="color:#757c83;">Test</a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <div class="nav-link active fw-bolder" aria-current="page"  routerLink="" style="color:#757c83;">{{total}}</div>
          </li>
          <li class="nav-item">
          </li>
          </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  </div>