// @import '../node_modules/bootstrap-icons/font/bootstrap-icons';
body {
    background-color: #071325;
  }
  
  .fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }
 .form-control:hover{
  color: #f44336 !important;

 }